
<body>
 
    <div class="title">
   Welcome Back
    </div>
      
    <div class="container-center">
   <form>
        <input 
        type="email" 
        name="email" 
        [(ngModel)]="htmlEmail"
        placeholder="Enter Student ID">
        <label for="id"> </label>
        <span>Student ID</span> <br>
     
        <input 
        type="password" 
        name="password"
        [(ngModel)]="htmlPassword"
        placeholder="Password">
        <label for="password"> </label>
        <span>Enter your password</span>
   </form>
        <div class="sign">
      
           <button id="red" (click)="onLogin()">Login</button>
          
           
           
        </div>
    </div>
  
    
  </body>
