
<body>
 
    <div class="title">
   Welcome Back
    </div>
      
    <div class="container-center">
   <form>
     <p class="form1">
        <input type="text" name="id" placeholder="Enter Student ID">
        <label for="id"> </label>
        <span>Student ID</span> <br>
      </p>
     
     <p class="form2">
        <input type="password" placeholder="Password">
        <label for="password"> </label>
        <span>Enter your password</span>
      </p>
   </form>
        <div class="sign">
      
           <button id="red">Login</button>
          
           
           
        </div>
    </div>
  
    
  </body>
