<body>
 
    <div class="title">
   Welcome to CynIn
    </div>
      
    <div class="container-center">
   <form>
     <p class="form1">
        <input type="text" name="id" placeholder="Enter Student ID">
        <label for="id"> </label>
        <span>Email</span> <br>
      </p>
      <p class="form1">
        <input type="text" name="first" placeholder="Enter First Name">
        <label for="first"> </label>
        <span>First Name</span> <br>
      </p>
      <p class="form1">
        <input type="text" name="last" placeholder="Enter Last Name">
        <label for="last"> </label>
        <span>Last Name</span> <br>
      </p>
     
     <p class="form2">
        <input type="password" placeholder="Password">
        <label for="password"> </label>
        <span>Enter your password</span>
      </p>
   </form>
        <div class="sign">
      
           <button id="red">Sign Up</button>
          
           
           
        </div>
    </div>
  
    
  </body>