<div class="container topShift">
        <div id="logo" class="mx-auto mb-4">CynIn</div>

        <div class="container-fluid profileInfo">
            <div class="totalTime">{{display}}</div>
            <div class="welcome">Welcome Emanuel</div>
            <div class="timeTracked">
                Time Tracked
                <div class="timeTrackedDisplay">
                    {{display2}}
                </div>    
            </div>

            <div class="buttons mt-5">
                <button class="btn btn-primary mr-2" (click)="onStartClock()">Start Tracking</button>
                <button class="btn btn-danger ml-2" (click)="onEndClock()">Stop Tracking</button>
            </div>
        </div>
</div>
      