<div class="container mt-5">
        <div id="logo" class="mx-auto mb-4">CynIn</div>
        <div class="row">
            <div class="users scroll col-6">
                <div class="title">Users</div>    
                <div class="mycontainer">
                        <app-users></app-users>
                </div>
            </div>
            <div class="events col-6">
                <div class="title">Events</div>
                <div class="mycontainer">
                    Fire red
                </div>
                
            </div>
        </div>
</div>
      